@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cause:wght@100..900&display=swap');

html {
  font-size: 14px;
  font-family: Arimo;
  text-align: center;
}

body {
  background-color: rgb(199, 233, 244);
  margin: 0;
}

h1 {
  font-size: 5rem;
  color: rgb(46, 83, 155);
}

h2 {
  font-size: 4rem;
  color: rgb(46, 83, 155);
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

a {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

button {
  border-radius: 0.5rem;
  width: 12rem;
  height: 3rem;
  background-color: rgb(46, 83, 155);
  color: white;
  font-size: 1.3rem;
  margin: auto 0.75rem;
}

button:hover {
  cursor: pointer;
}

.display {
  margin-top: 2rem;
}

em {
  font-size: 1.2rem;
}

nav {
  background-color: rgb(46, 83, 155);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  color: white;
  padding: 10px 20px;
}

.navLinks {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.navLinks a:hover {
  text-decoration: underline;
  color: rgb(199, 233, 244);
}

.navTitle {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  border: 0.2rem solid white;
  border-radius: 0.7rem;
}

.loader {
  margin: 157.5px auto;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.active {
  color: #ffdc4f !important;
  font-weight: bold;
}

form, .app {
  width: 60rem;
  margin: 0 auto;
  text-align: left;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 0.5rem 1rem 1rem;
}

.app {
  background-color: rgb(225, 225, 225);
  border: 0.3rem solid black;
  border-radius: 1rem;
}

fieldset {
  border: 0.45rem double black;
  margin: 1rem 0;
}

legend {
  font-size: 1.5rem;
  color: rgb(46, 83, 155);
}

input {
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem;
  width: 15rem;
}

#address {
  width: 45rem;
}

input[type="date"] {
  width: 10rem;
}

input[type="email"] {
  width: 30rem;
}

select {
  font-size: 1.2rem;
}

span {
  color: red;
}

h6 {
  font-size: 1.75rem;
}