<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <link rel="icon" href="../cat.ico" type="image/x-icon">
  <title>Application Submitted Successfully</title>
</head>
<body>
  <%- include("nav") %>
  <h2>Application Submitted Successfully!</h2>
  <p>
    Thank you for submitting your application to adopt!
    <br>
    View a copy of your application resposes below.
  </p>
  <br>
  <div class="app">
    <%- include("application") %>
  </div>
</body>
</html>