<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="cat.ico" type="image/x-icon">
  <title>Home</title>
</head>
<body>
  <%- include("nav") %>
  <h1>Welcome!</h1>
  <p class="home">
    Welcome to our site! Here you can view cute cat images and GIFs, and apply to adopt a cat!
    <br>
    Use the navigation bar to explore our site.
  </p>
  <br>
  <img src="catAdoptionImg.webp" alt="Cat Adoption Image">
</body>
</html>