<nav>
  <div class="navTitle">
    Cats
  </div>
  <ul class="navLinks">
    <li><a href="/" class="<%= activePage == 'home' ? 'active' : '' %>">Home</a></li>
    <li><a href="/catImages" class="<%= activePage == 'images' ? 'active' : '' %>">Cute Cats</a></li>
    <li><a href="/application/apply" class="<%= activePage == 'apply' ? 'active' : '' %>">Apply to Adopt</a></li>
    <li><a href="/application/viewApp" class="<%= activePage == 'view' ? 'active' : '' %>">View Your Application</a></li>
  </ul>
</nav>